@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
  font-family: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 170px;
}